.toggle-wrapper{
    display: flex;
    flex-direction: column;
}

.toggle-label{
    margin-bottom: .75rem;
}

.toggle-switch{
    position: relative;
    width: 100%;
    

    & input{
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 1; /* mantém o input acima dos outros elementos*/
    }
}

.switcher {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 2.5rem;
     
     color: var(--input-placeholder);
     background-color: var(--shape-body);
     border: 1px solid var(--input-stroke);
     border-radius: .5rem;
     padding: .25rem;
     

     position: relative;
     
}

.switcher::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 80%;
    margin-left: .25rem;
    

    left: 0;
    right: 50%;
    background-color: var(--shape-hover);
    opacity: 70%;
    border-radius: .25rem;
    transition:  transform .3s ease-in-out;

    
}

.toggle-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    z-index: 1;

    /* Resetar cor inicial dos ícones */
    & img {
        width: 1rem;
    }
}
/* Estado ativo do input (quando o toggle está "checado") */
.toggle-switch input:checked + .switcher::before{
    transform: translate(95%);
}

.toggle-switch input:checked + .switcher .online{
    color: var(--text-body);
    &:has(:checked), & img{
        content: url(../../assets/icons/video-toggle.svg);
    }

}

.toggle-switch input:not(:checked) + .switcher .presencial {
    color: var(--text-body);
    &:has(:checked), & img{
        content: url(../../assets/icons/building-toggle.svg);
    }
}

/*dark mode toggle*/
.styles {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.toggle-style {
    position: relative;
    display: flex; /* Alinha o conteúdo lado a lado */
    align-items: center; /* Alinha verticalmente o texto e o toggle */
    width: 60px;
    height: 34px;
}

.toggle-style input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: 3px;
    left: 4px;
    background-color: var(--input-stroke);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--brand-light);
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--text-heading); 
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Texto dinâmico */
.mode-text {
    margin-left: 4.5rem; /* Ajuste da distância entre o toggle e o texto */
    color: var(--text-body);
}

/* Texto padrão: "Escuro" */
input + .slider + .mode-text::before {
    content: "Escuro";
}

/* Quando o toggle estiver ativado: "Claro" */
input:checked + .slider + .mode-text::before {
    content: "Claro";
}
