
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-body: 'Open Sans', sans-serif;
    --font-logo: 'Leckerli One', sans-serif;
    --font-header: 'Baloo 2', sans-serif;
    --text-sm: 400 0.875rem/1.5 var(--font-body);
    --text-md: 400 1rem/1.5 var(--font-body);
    --text-xs: 400 0.75rem/1.5 var(--font-body);

    --text-logo: 400 2.5rem/1.5 var(--font-logo);
    --text-hsm: 700 1.12rem/1.5 var(--font-header);
    --text-hmd: 700 1.75rem/1.5 var(--font-header);

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --danger: #FF5959;

    /*inputs*/
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /*shape*/
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
}

body{
    background-color: var(--shape-body);
    color: var(--text-body);
    font: var(--text-md);
    
}
fieldset{
    all: unset;
}

h2{
    font: var(--text-hmd);
    margin-bottom: 2.5rem;
}
.form-legends{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    & img{
        width: 1.2rem;
        color: var(--input-placeholder);
        margin-right: .75rem;
    }
}
.event-details{
    margin-top: 3rem;
}
.contact-info{
    margin-top: 3rem;
}
.separador{
    margin-top: 2.5rem;
    border-bottom: 1px solid var(--shape-hover);
    margin-bottom: 1.5rem;
}

.invite{
    background-color: var(--brand-light);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 3rem;
    
    cursor: pointer;
    
    
    gap: .5rem;
    font: var(--text-body);
    color: var(--text-heading);
}
.invite:hover{
    background-color: var(--brand-dark);
}