@import url(./fields/input.css);
@import url(./fields/toggle.css);
@import url(./fields/radio.css);
@import url(./fields/section.css);
@import url(./cards.css);
@import url(./fields/checkbox.css);

#app{
    display: grid;
    grid-template-columns: 30% 70%;

    height: 100vh;
}

aside{
    background-image: url(../assets/icons/Background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    
    & .aside-container{
        font: var(--text-md);
        color: var(--text-heading);
        padding: 2rem;
        

        & h1{
            font: var(--text-logo);
            color: #FF598B;
        }
        & img{
            width: 3rem;
        }
        
    }
}

.main-container{
    width: 100%;
    overflow: auto;
    padding-bottom: 3rem; 
}

.form-event{
    width: 50%;
    margin: 5rem auto;

}